@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap');

* {
    user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    cursor: none;
}

.cursor-red, .cursor-blue {
    font-weight: bold;
    position: fixed;
    font-size: 30px;
    color: #9b4747;
    left: 0;
    top: 0;
    z-index: 999;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor-red {
    animation: cursorRedShake 1s infinite alternate
}

.cursor-blue {
    animation: cursorBlueShake 1s infinite alternate;
    color: #353a74;
}

.hide {
    opacity: 0;
    transition: .3s;
}

html {overflow: hidden;
}


::-webkit-scrollbar {
    width: 0;
}

.zero_theme_counter {
    color: #353a74 !important;
}

.zero_theme {
    background-color: #6068d3 !important;
    box-shadow: 0 7px 0 #5e65cc, 0 0 40px #5c63c9 !important;
}

.zero_theme_cells {
    background-color: #6b69e2 !important;
    outline: 1px solid #5b62bb !important;
    color: #44498b !important
}

.zero_theme_btn {
    background-color: #545bb8 !important;
    color:#6971e2 !important;
    box-shadow: 0 7px 0 #4e55ac, 0 0 40px #5c63c9 !important;
}

main {
    overflow: hidden;
    transition: .5s;
    height: 1005px;
    background-color: #d36060;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .winner_block {
        height: 500px;
        width: 500px;
        background-color: red;
    }

    .popup {
        z-index: 1000;
        user-select: none;
        color: #242424;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        transform: translateY(-2000px);
        animation: popup 15s;
        width: 70%;
        height: 500px;
        text-align: center;
        border-radius: 50px;
        font-size: 100px;
        background-color: #00000009;
        backdrop-filter: blur(10px);
    }

    .counter {
        color: #964646;
        transition: .5s;
        font-size: 40px;
        margin: 50px;
    }
    
    .container {
        transition: .5s;
        overflow: hidden;
        width: 600px;
        height: 600px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        box-shadow: 0 7px 0 #b65454, 0 0 40px #b65454;

        .cell {
            overflow: hidden;
            font-weight: bold;
            transition: .5s;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 100px;
            background-color: #be5757;
            color: #a04949;
            outline: 1px solid #a04949;
            width: 200px;
            height: 200px;

            .cell_text {
                animation: cellText 1s;
            }

            &:hover {
                opacity: .4;
            }
        }
    }

    .restart {
        transition: .3s ease-in-out;
        padding: 20px;
        width: 120px;
        height: 70px;
        outline: unset;
        border: unset;
        margin-top: 40px;
        border-radius: 5px;
        color: #5c2b2b;
        background-color: #be5757;
        box-shadow: 0 7px 0 #b65454, 0 0 40px #b65454;
        
        &:hover {
            background-color: #b15353;
            box-shadow: 0 7px 0 #a34c4c;
            transform: translateY(-5px);
        }
    }
}

@keyframes cellText {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes cellTextOut {
    from {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

@keyframes popup {
    0% {
        transform: translateY(-4000px);
    }

    10% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(4000px)
    }
}

@keyframes cursorRedShake {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes cursorBlueShake {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}