@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow: hidden;
}

::-moz-selection {
  background-color: rgba(255, 255, 255, 0.2392156863);
}

::selection {
  background-color: rgba(255, 255, 255, 0.2392156863);
}

::-webkit-scrollbar {
  width: 0;
}

.zero_theme_counter {
  color: #353a74 !important;
}

.zero_theme {
  background-color: #6068d3 !important;
  box-shadow: 0 7px 0 #5e65cc !important;
}

.zero_theme_cells {
  background-color: #6b69e2 !important;
  outline: 1px solid #5b62bb !important;
  color: #44498b !important;
}

.zero_theme_btn {
  background-color: #545bb8 !important;
  color: #6971e2 !important;
  box-shadow: 0 4px 0 #4e55ac !important;
}

main {
  overflow: hidden;
  transition: 0.5s;
  height: 1005px;
  background-color: #d36060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .winner_block {
  height: 500px;
  width: 500px;
  background-color: red;
}
main .popup {
  z-index: 1000;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-2000px);
  animation: popup 10s;
  width: 100%;
  height: 1005px;
  font-size: 100px;
  background-color: rgba(0, 0, 0, 0.1647058824);
}
main .counter {
  color: #964646;
  transition: 0.5s;
  font-size: 40px;
  margin: 50px;
}
main .container {
  transition: 0.5s;
  overflow: hidden;
  width: 600px;
  height: 600px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 7px 0 #b65454;
}
main .container .cell {
  overflow: hidden;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  background-color: #be5757;
  color: #a04949;
  outline: 1px solid #a04949;
  width: 200px;
  height: 200px;
}
main .container .cell .cell_text {
  animation: cellText 1s;
}
main .container .cell:hover {
  opacity: 0.4;
}
main .restart {
  transition: 0.3s ease-in-out;
  padding: 20px;
  width: 120px;
  height: 70px;
  outline: 0;
  border: 0;
  margin-top: 40px;
  border-radius: 5px;
  color: #5c2b2b;
  background-color: #b85555;
  box-shadow: 0 4px 0 #a54b4b;
}
main .restart:hover {
  background-color: #b15353;
  transform: translateY(-5px);
  cursor: pointer;
}

@keyframes cellText {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes cellTextOut {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes popup {
  0% {
    transform: translateY(-2000px);
  }
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(2000px);
  }
}/*# sourceMappingURL=style.css.map */